{
  "presets": [
    "react",
    ["env", {
      "modules": false
    }],
    "stage-0"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }],
    "react-hot-loader/babel"
  ]
}
